.about-container {
    display: flex;
    gap: 1rem;
    width: 60%;
    background-color: "green";
}


.about-cover-image {
    width: 500px;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 3rem; */
    background-color: "red";
}

.about-content-container h3 {
    /* margin-bottom: 1rem; */
}

.about-content-container button {
    background-color: rgb(24, 202, 184);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    display: block;
    margin-top: 1rem;
    cursor: pointer;
}